.wrapper {
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
}

.form {
    margin-top: 10px;
    width: 50%;
}

.botom-button {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 47%;
}